
header{
    position: relative;
    max-height: 700px;
    height:90vh;
    nav{
        background-image: url(../assets/imageedit_3_8512704146.png);
        background-size: cover;
        float: right;
        padding: 30px;
        width: 60%;
        height:100%;
        a{
            color: white;
            text-transform: uppercase;
            font-family: 'Jost',cursive;
            font-size: 15px;
        }
        .horizontalMenu{
            ul{
            display: flex;
            justify-content: flex-end;
            margin: 0;
        
            li{
                margin:0 20px;
            }
            }}
        .hamburgerMenu{
            display: none;
            position: absolute;
            top: 0;
            z-index: 2;
            left: 0;
            width: 100%;
            height: 100%;
                button.hamburger--spin{
                    position: absolute;
                    top:10% ;
                    right:10%;
                }
                ul{
                    display: none;
                    transition: right 500ms;
                    padding: 0;
                    padding-top:100px;
                    background-color:#65a7b3e0;
                    margin: 0;
                    color: white;
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    li{
                        padding: 15px 15px;
                        text-shadow: 2px 2px #376a85;
                        &:hover{
                            background-color:#223cd33a ;
                        }
                    }
                    a{
                       
                        text-transform: uppercase;
                    }
                }
                ul.active{
                    display: block;
                }
                
        }
    }
    .mAshtari{
        position: absolute;
        top: 25%;
        right: 55%;
        border-top: rgb(101, 167, 179) solid 4px;
        border-left: rgb(101, 167, 179) solid 4px;
        padding:20px;
    }
    .mAshtari:after {
        content: ""; /* This is necessary for the pseudo element to work. */ 
        display: block; /* This will put the pseudo element on its own line. */
        width: 50%; /* Change this to whatever width you want. */
        border-bottom: rgb(101, 167, 179) solid 4px; /* This creates the border. Replace black with whatever color you want. */ 
        position: absolute;
        left:0;
        bottom:0;

    }
    .scrollDown{
        position: absolute;
        bottom: 30px;
        left: 50%;
        .fa-chevron-down{
            color:white;
            width: 20px;
            animation: flash 3s infinite;
        }
    }
}
